*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    text-align: center;
    padding: 25px;
}

#mainContainer {
    display: flex;
    justify-content: center;
    padding: 25px;
}

#calculator {
    background-color: rgb(58, 58, 58);
    padding: 25px;
    border-radius: 12.5px;
    height: 75vh;
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 12.5px;
}

#inputRow {
    flex: 2;
    background-color: rgb(88, 88, 88);
    border-radius: 12.5px;
    display: flex;
}

#operationDisplay {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: end;
}

#operationDisplay>h3{
    color: rgb(214, 214, 214);
    font-size: 1.75rem;
}

.calcRow {
    display: flex;
    gap: 6px;
    flex: 1;
}

.calcButton {
    flex: 1;
    background-color: rgb(88, 88, 88);
    border-radius: 12.5px;
    border: none;
    color: rgb(214, 214, 214);
    font-size: 1.5rem;
}

.buttonHover {
    background-color: rgb(70, 70, 70);
}

.buttonPressed {
    background-color: rgb(50, 50, 50);
}